<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>BS-后台</title>
<!-- build:css ../styles/main.css -->
<link rel="stylesheet" href="../styles/reset.css">
<link rel="stylesheet" href="../styles/common.css">	
<link rel="stylesheet" href="../styles/index.css">
<!-- endbuild -->
<link rel="stylesheet" href="../bower_components/layer/skin/layer.css">	
<link rel="stylesheet" href="../bower_components/laypage/skin/laypage.css">	
<link rel="stylesheet" href="../bower_components/tablesorter/themes/blue/style.css">
<link rel="stylesheet" href="../bower_components/icheck-1.x/skins/minimal/blue.css">	
</head>
<body>

<div class="login-wrap">
	<form>
	<div class="com-form-wrap">
		<!-- input -->
		<div class="com-form-group clearfix">
			<label class="com-form-l com-fl com-lh">名称：</label>
			<div class="com-form-r com-fl">
				<input type="text" class="com-input-text">
			</div>
		</div>
		<!-- //input -->
		<!-- input -->
		<div class="com-form-group clearfix">
			<label class="com-form-l com-fl com-lh">密码：</label>
			<div class="com-form-r com-fl">
				<input type="password" class="com-input-text">
			</div>
		</div>
		<!-- //input -->
		<!-- button -->
		<div class="com-form-group clearfix">
			<label class="com-form-l com-fl"></label>
			<div class="com-form-r com-fl">
				<a href="javascript:;" class="com-bigbtn com-btn-color02 ">确认</a>
			</div>
		</div>
		<!-- //button -->
	</div>
	</form>
</div>

<!-- 组件引入  -->
<script type="text/javascript" src="../bower_components/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="../bower_components/echarts/echarts.min.js"></script>	
<script type="text/javascript" src="../bower_components/laydate/laydate.js"></script>
<script type="text/javascript" src="../bower_components/tablesorter/jquery.tablesorter.min.js"></script>	
<script type="text/javascript" src="../bower_components/layer/layer.js"></script>
<script type="text/javascript" src="../bower_components/laypage/laypage.js"></script>
<script type="text/javascript" src="../bower_components/audioplayer/audioplayer.js"></script>
<script type="text/javascript" src="../bower_components/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-validate/messages_zh.min.js"></script>
<script type="text/javascript" src="../bower_components/icheck-1.x/icheck/icheck.min.js"></script>
<!-- //组件引入 -->

<!-- build:js ../scripts/main.js -->
<script type="text/javascript" src="../scripts/index.js"></script>
<script type="text/javascript" src="../scripts/common.js"></script>
<!-- endbuild -->
</body>
</html>