<div class="in-curpage-wrap">
	<a href="#">设置</a> —>
	<a href="#" class="in-curpage-active">常规</a>
</div>
<!-- module routine-setting  -->
<div class="in-content-wrap">
	<div id="tabs">
		<ul class="tab-title clearfix">
			<li class="tabulous_active">常规</li>
			<li>积分</li>
			<li>客服</li>
		</ul>
		<div id="tabs_container">
			<div id="tabs-1" class="tab-itembox">
				<form>
					<div class="com-form-wrap">
						<!-- checkbox -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl">意见：</label>
							<div class="com-form-r com-fl">
								<div class="com-ib ">
									<input type="checkbox">
									<label>同意</label>
								</div>
								<div class="com-ib ml5">
									<input type="checkbox">
									<label>不同意</label>
								</div>
							</div>
						</div>
						<!-- //checkbox -->
						<!-- radio -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl">姓名：</label>
							<div class="com-form-r com-fl">
								<div class="com-ib">
									<input type="radio" name="iCheck">
									<label>男</label>
								</div>
								<div class="com-ib ml5">
									<input type="radio" name="iCheck">
									<label>女</label>
								</div>
								<div class="com-ib ml5">
									<input type="radio" name="iCheck">
									<label>其它</label>
								</div>
							</div>
						</div>
						<!-- //radio -->
						<!-- input -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl com-lh">性别：</label>
							<div class="com-form-r com-fl">
								<input type="text" class="com-input-text">
							</div>
						</div>
						<!-- //input -->
						<!-- textarea -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl com-lh">内容介绍：</label>
							<div class="com-form-r com-fl">
								<textarea class="com-textarea"></textarea>
							</div>
						</div>
						<!-- //textarea -->
						<!--  select -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl com-lh">区域：</label>
							<div class="com-form-r com-fl">
								<select name="" id="" class="com-select">
									<option value="">北京</option>
									<option value="">深圳</option>
									<option value="">上海</option>
								</select>
							</div>
						</div>
						<!-- //select -->
						<!-- checkbox -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl"></label>
							<div class="com-form-r com-fl">
								<div class="com-ib ">
									<input type="checkbox">
									<label>《同意该协议》</label>
								</div>
							</div>
						</div>
						<!-- //checkbox -->
						<!-- button -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl"></label>
							<div class="com-form-r com-fl">
								<a href="javascript:;" class="com-bigbtn com-btn-color02 ">确认</a>
							</div>
						</div>
						<!-- //button -->
					</div>
				</form>
			</div>
			<!-- // tab-1 -->
			<div id="tabs-2" class="tab-itembox" style="display: none;">
				<form>
					<div class="com-form-wrap">
						<!-- checkbox -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl">意见：</label>
							<div class="com-form-r com-fl">
								<div class="com-ib ">
									<input type="checkbox">
									<label>同意</label>
								</div>
								<div class="com-ib ml5">
									<input type="checkbox">
									<label>不同意</label>
								</div>
							</div>
						</div>
						<!-- //checkbox -->
						<!-- radio -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl">姓名：</label>
							<div class="com-form-r com-fl">
								<div class="com-ib">
									<input type="radio" name="iCheck">
									<label>男</label>
								</div>
								<div class="com-ib ml5">
									<input type="radio" name="iCheck">
									<label>女</label>
								</div>
								<div class="com-ib ml5">
									<input type="radio" name="iCheck">
									<label>其它</label>
								</div>
							</div>
						</div>
						<!-- //radio -->
						<!-- button -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl"></label>
							<div class="com-form-r com-fl">
								<a href="javascript:;" class="com-bigbtn com-btn-color02 ">确认</a>
							</div>
						</div>
						<!-- //button -->
					</div>
				</form>
			</div>
			<!-- // tab-2 -->
			<div id="tabs-3" class="tab-itembox" style="display: none;">
				<form>
					<div class="com-form-wrap">
						<!-- checkbox -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl">意见：</label>
							<div class="com-form-r com-fl">
								<div class="com-ib ">
									<input type="checkbox">
									<label>同意</label>
								</div>
								<div class="com-ib ml5">
									<input type="checkbox">
									<label>不同意</label>
								</div>
							</div>
						</div>
						<!-- //checkbox -->
						<!-- radio -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl">姓名：</label>
							<div class="com-form-r com-fl">
								<div class="com-ib">
									<input type="radio" name="iCheck">
									<label>男</label>
								</div>
								<div class="com-ib ml5">
									<input type="radio" name="iCheck">
									<label>女</label>
								</div>
								<div class="com-ib ml5">
									<input type="radio" name="iCheck">
									<label>其它</label>
								</div>
							</div>
						</div>
						<!-- //radio -->
						<!-- button -->
						<div class="com-form-group clearfix">
							<label class="com-form-l com-fl"></label>
							<div class="com-form-r com-fl">
								<a href="javascript:;" class="com-bigbtn com-btn-color02 ">确认</a>
							</div>
						</div>
						<!-- //button -->
					</div>
				</form>
			</div>
			<!-- // tab-3 -->
		</div>
	</div>
</div>
<!-- //module routine-setting  -->

<script type="text/javascript">
$(function(){
	//tab切换
	$(".tab-title li").on("click",function(){
	 	var index = $(this).index();
	 	$(this).addClass('tabulous_active').siblings().removeClass('tabulous_active');
	 	$(".tab-itembox").eq(index).show().siblings().hide();
	 })

	/**
	*form表单checkout radio美化初始化
	 */
	$('input').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		increaseArea: '20%' // optional
	});
})
</script>